.header {
    background-color: lightblue;
    height: 4rem;
    //display: flex;
    //justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

    .logo {
        font-weight: bolder;
    }

    #dropdown-item-button {
        background-color: transparent;
        border: none;
    }

    #dropdown-item-button:active, #dropdown-item-button:focus {
        outline: none ;
        box-shadow: none;
    }
}