.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;


  .login-card {
    width: 60%;
    height: 30rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;



  }

   div {
    width: 100%;
    background-color: lightblue;
  }
}

